<ion-view view-title="CSS"> 
	<ion-content>
		<div class="row">
		  <div class="col col-30">
		  	<a class="button button-block" href="#/app/header">
			  Header
			</a>
		  </div>
		  <div class="col col-30">
		  	<a class="button button-block" href="#/app/footer">
			  Footer
			</a>
		  </div>
		  <div class="col col-30">
		  	<a class="button button-block" href="#/app/button">
		  	Button
			</a>
		  </div>
		</div>
		<div class="row">
		  <div class="col col-30">
		  	<a class="button button-block" href="#/app/lists">
			  列表
			</a>
		  </div>
		  <div class="col col-30">
		  	<a class="button button-block" href="#/app/cards">
			  Cards
			</a>
		  </div>
		  <div class="col col-30">
		  	<a class="button button-block" href="#/app/forms">
		  	From
			</a>
		  </div>
		</div>
		
		<div class="row">
		  <div class="col col-30">
		  	<a class="button button-block" href="#/app/toggle">
			  Toggle
			</a>
		  </div>
		  <div class="col col-30">
		  	<a class="button button-block" href="#/app/checkbox">
			  Checkbox
			</a>
		  </div>
		  <div class="col col-30">
		  	<a class="button button-block" href="#/app/radio">
		  	Radio Button 
			</a>
		  </div>
		</div>
	</ion-content>
		
</ion-view>