<ion-view view-title="Checkbox">
  <ion-content>
    <div class="list">

        <label class="item item-radio">
          <input type="radio" checked="checked" value="go" name="group">
          <div class="item-content">
            Go
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        <label class="item item-radio">
          <input type="radio" value="python" name="group">
          <div class="item-content">
            Python
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        <label class="item item-radio">
          <input type="radio" value="ruby" name="group">
          <div class="item-content">
            Ruby
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        <label class="item item-radio">
          <input type="radio" value=".net" name="group">
          <div class="item-content">
            .Net
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        <label class="item item-radio">
          <input type="radio" value="java" name="group">
          <div class="item-content">
            Java
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        <label class="item item-radio">
          <input type="radio" value="php" name="group">
          <div class="item-content">
            PHP
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

      </div>
  </ion-content>
</ion-view>
